<% layout('layouts/boilerplate') %>
<style>
  /* all_products */
  .card {
    height: 100%;
    width: 100%;
  }
  .card:hover {
    box-shadow: 3px 3px 6px black;
  }

  .rating {
    background-color: #e9e9e4;
    margin-left: 5rem;
    padding: 3px 5px;
    border-radius: 4px;
    opacity: 0.9;
    color: black;
  }
  .rating1 {
    background-color: #b5b509;
    margin-left: 5rem;
    padding: 3px 5px;
    border-radius: 4px;
    opacity: 0.9;
    color: white;
  }

  .green {
    color: rgb(26, 190, 26);
  }
  .orange {
    color: rgb(211, 142, 14);
  }
  .quantity {
    color: green;
    text-decoration: underline;
    margin-left: 7rem;
    font-size: 1.2rem;
  }
  .color div label {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }

  h4 {
    font-weight: bold;
  }
  .out {
    color: red;
    border: 1px solid red;
    display: inline-block;
    padding: 0.5rem;
    font-weight: bold;
    margin-left: 5rem;
  }
  .search_seller form .seller_input {
    background-color: rgb(190, 187, 187) !important;
    margin-right: 0.2rem;
    width: 15rem;
  }
  .search_seller form {
    display: flex;
  }
  .search_seller {
    display: flex;
    justify-content: center;
  }

  h3 {
    padding: 6px;
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }
</style>

<div class="search_seller">
  <form action="/product/seller/search" method="POST">
    <input
      class="form-control seller_input"
      type="text"
      name="query"
      placeholder="Search.. here"
    />
    <button class="btn btn-web">search</button>
  </form>
</div>

<div id="main">
  <% if(products.length > 0) { %>
  <div class="products mt-3 my-scrollable-div">
    <h3 style="font-size: 2rem; font-weight: bold">
      Search Result found (<%= products.length %>)
    </h3>
    <hr />
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
      <% for(let product of products) { %>
      <div class="allCards col mb-3">
        <a
          href="/product/<%= product._id  %>"
          style="text-decoration: none"
        >
          <div class="card">
            <img
              src="<%= product.img.url %>"
              class="card-img-top"
              alt="..."
              style="height: 16rem"
            />
            <div class="card-body">
              <p class="card-title">
                <b><%= product.brand %></b>
                <% if(product.avg_rating){ %>
                <b class="rating"
                  ><%=product.avg_rating%> <% if(product.avg_rating < 3) {%>
                  <i class="fa-solid fa-star orange"></i> <% } else{%>
                  <i class="fa-solid fa-star green"></i><% } %> | <%=
                  product.reviews.length.toLocaleString('en-US', {
                  maximumFractionDigits: 2, notation: 'compact', compactDisplay:
                  'short' }); %></b
                >
                <% }else{ %>
                <b class="rating1">No Reviews</b>
                <% } %>
              </p>
              <p class="card-text" style="font-size: 0.9rem">
                <%= product.name %>
              </p>
              <% if(product.quantity!=0){ %>
              <p class="card-text" style="font-size: 0.9rem">
                <b>Rs. <%=product.price.toLocaleString("en-IN");%></b>
                <b
                  ><% if(product.quantity<6 && product.quantity!=0){ %>
                  <span class="quantity">Only few Left!</span> <% } %></b
                >
              </p>
              <% }else{ %>
              <p class="out">Out Of Stock!</p>
              <% } %>
            </div>
          </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>
  <% } else {%>
  <h3>Product Not Found!</h3>
  <% } %>
</div>
